.navbar{
    height: 90px;

    background: rgb(255, 255, 255);
    background: -webkit-linear-gradient(rgba(165, 164, 164, 0.8),rgb(255, 255, 255,0));
}

.logo{
    max-width: 50px;
    max-height: 50px;
}
.brand{
    /*max-width: 200px;*/
    display: inline;
    vertical-align: middle;

}
.brand h4{
    font-family: sans-serif;
    font-weight: bolder;
    padding: 0.8em;
    line-height: 75px;
}

.nav-tabs{
    max-width: 800px;
}
.nav-tabs li a{
    font-size: large;
    font-weight: lighter;
    color: rgb(0, 0, 0);
}




footer{
    text-align: center;
}