<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>石乐志的主页</title>
    <!--                       bootstrap3/jquery                             -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="icon" href="{{url_for('static', filename='myLogo.jpg')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{message}}</div>
    {% endfor %}
    <header>
        <p>Hello, friends!
            {% if current_user.is_authenticated %}
            <a href="logout">退出</a>
            {% else %}
            <a href="login">登录</a>
            {% endif %}
        </p>
    </header>
    <nav>
        <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('flask')}}">Flask</a></li>
            <li><a href="{{url_for('bigdata')}}">Big data</a></li>
            <li><a href="{{url_for('cplex')}}">Cplex</a></li>
            <li><a href="{{url_for('watchlist')}}">Watch list</a></li>
            <li><a href="{{url_for('plan')}}">ToDo</a></li>
            <li><a href="{{url_for('aboutme')}}">About</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}

    <footer><small>&copy; 2020<a href="https://www.baidu.com">凡心所向，素履以往。</a> </small></footer>
</body>
</html>