<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>最优方案提供平台</title>
        <link rel="icon" href="../static/myLogo.jpg">
        <link rel="stylesheet" href="../static/cplex.css" type="text/css">
        {% endblock %}
    </head>
    <body>
        <header>
            <ul>
                <li><a href="login">登录</a>|</li>
                <li><a href="register">注册</a>|</li>
                <li><a href="help">帮助</a>|</li>
                <li><a href="contact">联系</a>|</li>
            </ul>
            <div>
                <h1 id="title">最优方案提供平台</h1>
                <h1 id="phone">电话热线：400-882-8343</h1>
            </div>
            
            
            

        </header>
        <nav>
            <ul>
                <li><a href="logistics">物流</a></li>
                <li><a href="weight">载重约束</a></li>
                <li><a href="volume">体积约束</a></li>
                <li><a href="time">时间窗口约束</a></li>
                <li><a href="center">配送中心约束</a></li>
                <li><a href="type">车型约束</a></li>
                <li><a href="dontknow">多趟次约束</a></li>
                <li><a href="more">更多</a></li>
            </ul>
            <ul>
                <li><a href="production">生产</a></li>
                <li><a href="sequence">零件加工顺序优化</a></li>
                <li><a href="cloth">布料裁剪优化</a></li>
            </ul>
            <ul>
                <li><a href="service">服务</a></li>
                <li><a href="eat">今天吃什么</a></li>
            </ul>
            <ul>
                <li><a href="else">其他</a></li>
                <li><a href="lp">线性规划</a></li>
                <li><a href="mop">多目标规划</a></li>
                <li><a href="ap">指派问题</a></li>
                <li><a href="bab">分支界定法</a></li>
                <li><a href="bag">01背包问题</a></li>

            </ul>

        </nav>
        {% block content %}{% endblock %}

        <footer><small>&copy; 2020<a href="/">凡心所向，素履以往。</a> </small></footer>
    </body>
</html>