{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/testcss.css" type="text/css">

{% endblock %}


{% block content %}
    <div class="body">
        <ul>
            <li><div class="text-body">
                <div class="title"><a href="#">社会主义核心价值观</a><p>编辑于：2020/3/20</p></div>
                <div class="text"><p>富强、民主、文明、和谐；自由、平等、公正、法治；爱国、敬业、诚信、友善。富强、民主、文明、和谐；自由、平等、公正、法治；爱国、敬业、诚信、友善。富强、民主、文明、和谐；自由、平等、公正、法治；爱国、敬业、诚信、友善。爱国、敬业、诚信、友善。富强、民主、文明、和谐；自由、平等、公正、法治；爱国、敬业、诚信、友善。富强、民主、文明、和谐；自由、平等、公正、法治；爱国、敬业、诚信、友善。</p></div>
            </div></li>
            <li><div class="text-body">
                <div class="title"><a href="#">社会主义核心价值观</a><p>编辑于：2020/3/20</p></div>
                <div class="text"><p>富强、民主、文明、和谐；自由、平等、公正、法治；</p></div>
            </div></li>
            <li><div class="text-body">
                <div class="title"><a href="#">社会主义核心价值观</a><p>编辑于：2020/3/20</p></div>
                <div class="text"><p>富强、民主、文明、和谐；自由、平等、公正、法治；爱国、敬业、诚信、友善。富强、民主、文明、和谐；自由、平等、公正、法治；爱国、敬业、诚信、友善。</p></div>
            </div></li>
            <li><div class="text-body">
                <div class="title"><a href="#">社会主义核心价值观</a><p>编辑于：2020/3/20</p></div>
                <div class="text"><p>富强、民主、文明、和谐；自由、平等、公正、法治；爱国、敬业、诚信、友善。富强、民主、文明、和谐；自由、平等、公正、法治；爱国、敬业、诚信、友善。富强、民主、文明、和谐；自由、平等、公正、法治；爱国、敬业、诚信、友善。</p></div>
            </div></li>

        </ul>
    </div>
{% endblock %}